body{
    margin: 0 auto;
    padding: 0;
}
.header{
    background: url("/images/header-bg.png") no-repeat;
    background-size: 100% 750px;
    padding: 50px 80px 187px 80px;
    min-width: 1153px;
}
.header__navigate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 169px;
}
.header__logo-img{
    width: 31px;
    height: 31px;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__logo-img{
    margin-right: 9px;
}
.logo-title__text{
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}
.nav-menu__list{
    display: inline;
    list-style: none;
    margin-right: 49px;
}
.nav-menu__list:last-child{
    margin-right: 0;
}
.nav-menu__link{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
.nav-menu__link:hover{
    color:#061e37;
}
.header__register-button{
    width: 80px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    background: none;
    color: #ffffff;  
    opacity: 0.9;
}
.header__register-button:hover{
    background-color: #061e37;
    cursor: pointer;
}
.first-page{
    display: flex;
    align-items: center;
}
.first-page__text-container{
    width: 580px;
    margin-right: 34px;
}
.first-page__title{
    margin: 0;
    width: 471px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 28px;
}
.first-page__text{
    margin: 0;
    padding: 0;
    width: 580px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 38px;
}
.first-page__button{
    width: 160px;
    height: 55px;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #ffffff;
    color: #061e37;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 30px;
}
.first-page__button:last-child{
    margin-right: 0;
}
.first-page__button:hover{
    background-color: #061e37;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.first-page__video{
    width: 568px;
    height: 320px;
    border-radius: 5px;
    border: 1px solid #061e37;
}








/*************************** Tablet *********************************/
@media only screen and (max-device-width: 768px){
    .header{
        min-width: 768px;
        background-size: 100% 928px;
    }
    .main{
        min-width: 768px;
    }
    .footer{
        min-width: 768px;
    }
    .header__navigate{
        margin-bottom: 80px;
    }
    .nav-menu__list{
        margin-right: 28px;
    }
    .first-page{
        display: block;
    }
    .first-page__text-container{
        margin-bottom: 50px;
    }
    .first-page__video{
        display: block;
        margin: 0 auto;
    }
}
/*************************** Mobile *********************************/
@media only screen and (max-device-width: 480px){
    .header{
        min-width: 420px;
        padding: 50px 20px 187px 20px;
    }
    .main{
        min-width: 420px;
    }
    .footer{
        min-width: 420px;
    }
    .first-page__video{
        width: 420px;
        height: 237px;
    }
    .first-page__text-container{
        width: 480px;
    }
}